# App Configurations
PORT=3000
NODE_ENV=local
API_VERSION=1.0.0

# AWS Configurations
CLOUDWATCH_GROUP_NAME=test
CLOUDWATCH_STREAM_NAME=test
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Email Configuration
EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=